<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="  
			http://www.springframework.org/schema/beans   
			http://www.springframework.org/schema/beans/spring-beans.xsd  
			http://www.springframework.org/schema/context   
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop   
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd 
			">  

	<!-- 产生佣金 -->
    <bean name="orderBrockerageJobDetail"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject" ref="purchaseEventServiceImpl" />  
	    <property name="targetMethod" value="saveAllLastDayPurchaseEvents" />   
	</bean>   
	<bean id="orderBrockerageJobTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
	    <property name="jobDetail" ref="orderBrockerageJobDetail" />  
	    <property name="cronExpression" value="0 0 4 * * ? *" />     <!-- 每日4点 -->
	</bean>
	
	<!-- 产生利息 -->
	<bean name="yieldInterestJobDetail"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject" ref="yieldInterestEventServiceImpl" />  
	    <property name="targetMethod" value="saveYieldInterestByEveryDay" />   
	</bean>   
	<bean id="yieldInterestJobTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
	    <property name="jobDetail" ref="yieldInterestJobDetail" />  
	    <property name="cronExpression" value="0 0 3 * * ? *" />     <!-- 每日3点 -->
	</bean> 

 	<!-- ### 配置创建定配置 Quartz 调度器的 SchedulerFactoryBean ### -->
 	<!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->  
	<bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="jobDetails">  
	        <list>  
	            <ref bean="orderBrockerageJobDetail" />
	            <ref bean="yieldInterestJobDetail" />
	        </list>  
	    </property>  
	  
	    <property name="triggers">  
	        <list>  
	            <ref bean="orderBrockerageJobTrigger" />
	        	<ref bean="yieldInterestJobTrigger"  />
	        </list>  
	    </property>  
	</bean>  
	
 </beans>