

@media screen and (orientation: portrait) { 
  /*竖屏 css*/  
  *{padding: 0; margin: 0; } 
   body{background-color:lightgreen;}
  .display_second{display: none;}
  .display_first{ text-align: center;}
  .display_first img{ width: 80%; height: auto;margin-top: 35%;}
  .display_first p{ font-size: 14px;padding-top: 20%;font-weight: bold;}
  .display_first p span{color:darkolivegreen;}
  .display_first p small{font-weight: 100;}
  }    

@media screen and (orientation: landscape) {   
  /*横屏 css*/ 
  *{padding: 0;margin:0;text-decoration: none;list-style: none;font-family: "微软雅黑";}  
  .display_first{display: none;}
         /*nav*/
        .nav{ width: 100%; height: 80px;}
        .logo{ float: left; width: 30%; height: 80px;}
        .logo img{ width: 80%; height: auto; margin-left: 10%; margin-top: 18px;}
        .menu{ width:70%;float: left;height: 80px;}
        .select_option ul li{ float: left;line-height: 80px;}
        .district{ width: 60%;}
        .district select{ width: 50%;height: 30px;border-radius:6px; font-size: 16px;}
        .store{ width: 20%;}
        .store select{width: 90%;height: 30px;border-radius:6px;font-size: 14px;}
        .type{ width: 20%;}
        .type select{width: 90%;height: 30px;border-radius:6px;font-size: 14px;padding-left: 10%;}
        .select_option ul li select{border: none;background: transparent;-webkit-appearance: none;}
        	 
				 /*第二行*/
				.address_week{ width: 100%;height: 70px;}
				.first_line{ display: block; width: 100%; height: 30px; line-height: 30px;}
			  .first_line span{ font-size: 18px;padding-left: 18px;}
				.first_line small{padding-left: 20px;font-size: 16px;}
				.second_line{ display: block; width: 100%; height: 40px; line-height: 20px;overflow: hidden;}
        .second_line ul{ float: left;}
        .address_week_1{ width: 65%;line-height: 14px;margin-top:8px;}
        .address_week_2{ width: 35%;margin-top: 16px;}
        .address_week_2 li:first-child{margin-left: 10%;}
        .address_week_2 li:last-child{ float: right;margin-right: 10%;}
        .address_week_2 li a{font-size: 18px;color: #000000;}
        .second_line ul li{ float: left; font-size: 12px;}
        #address{padding-left: 18px;}
        #phone{padding-left: 18px;}
        #phone a{ display: block;}
      
        
        /*table*/
        .table_lesson{ width: 100%;}
        .table_lesson table{ width:96%; margin:0 auto;border-collapse:collapse;}
        .table_lesson table thead{border-top:1px dotted darkgray;border-bottom: 1px dotted darkgray;z-index: 1000;}
        .table_lesson table thead tr th{height: 60px; font-size: 11px;font-weight:400;line-height: 12px;}
        .table_lesson table tbody tr td{height: 62px; text-align: center;}
        .table_lesson table tbody tr td small{font-size: 10px;}
        .table_lesson table tbody tr td ul{line-height: 10px;    margin-top: 5px;margin-left: 2px;}
        .table_lesson table tbody tr td ul li{ text-align: center;}
        .table_lesson table tbody tr td:first-child{margin-top:20px;}
        .open_type{background-color:#FE007F;
                   width:86%;
                   border-radius:5px;
                   padding-top: 5px;padding-bottom: 5px;padding-left: 4px;padding-right: 4px; }
        .open_type li{color:white;}
        
        .close_type{background-color:#ffea2f; width:86%;border-radius:5px;
        
                    padding-top: 5px;padding-bottom: 5px;padding-left: 4px;padding-right: 4px;}
                    
        
        .current{background-color: aquamarine;}
        .close_type li:first-child small{font-size: 12px;}
        .open_type li:first-child small{font-size: 12px;}
        
     
        
        
        
        
}   
