*{margin: 0; padding: 0; text-decoration: none;list-style: none;font-family: '微软雅黑';font-size: 13px;}

/*header*/
header{
	width: 100%;
	height: 45px;
	background: #f9f9f9;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #b3b2ac;
	box-shadow: 0 1px 2px #b3b2ac;
	z-index: 998;
}

header a{
	float: left;
	margin: 3px 0 0 2px;
}
header .ins{
	position: absolute;
	top: 0;
	left: 44%;
	margin: 0;
}
header .ins img{
	float: left;
	margin-top: 13px;
}
header .ins strong{
	float: left;
	font-size: 16px;
	color: #272636;
	font-weight: normal;
	line-height: 16px;
	margin: 15px 8px 0 3px;
    }
    
header .scan{float: right;}
header .scan a{height: 45px;line-height: 42px;color: #272636;padding-right: 15px;}
header .scan img{margin-top: 8px;margin-right: 5px;}

/*footer*/
footer{
	width: 100%;
	height: 45px;
	background: #f9f9f9;
	border-top:1px solid  #cfcdc7;
	box-shadow: 0 -1px 2px #cfcdc7;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 997;
}
footer .nav{
	margin: 0 10px;
	height: 45px;
}
footer .nav ul{
	width: 100%;
}
footer .nav li{
	width: 20%;
	height: 45px;
	text-align: center;
	float: left;
}
footer .nav a{
	float: left;
	width: 100%;
	height: 19px;
	line-height: 12px;
	font-size: 12px;
	color: #8f8f8f;
	padding-top: 26px;

}
footer .nav li:nth-child(1) a{
	 background: url(../img/foot_ico1.png) no-repeat center 7px;
	 background-size: 14px  12px;
}
footer .nav li:nth-child(2) a{
	 background: url(../img/foot_ico2.png) no-repeat center 6px;
	 background-size: 14px  14px;
}
footer .nav li:nth-child(3) a{
	 background: url(../img/foot_ico3.png) no-repeat center 6px;
	 background-size: 15px  15px;
}
footer .nav li:nth-child(4) a{
	 background: url(../img/foot_ico4.png) no-repeat center 4px;
	 background-size: 14px  18px;
}
footer .nav li:nth-child(5) a{
	 background: url(../img/foot_ico5.png) no-repeat center 6px;
	 background-size: 14px  14px;
}

footer .nav li:nth-child(1) a.active{
	background: url(../img/foot_ico1.1.png) no-repeat center 7px;
	background-size: 14px  12px;
	color: #e01c64;
}
footer .nav li:nth-child(2) a.active{
	background: url(../img/foot_ico2.1.png) no-repeat center 6px;
	background-size: 14px  14px;
	color: #e01c64;
}
footer .nav li:nth-child(3) a.active{
	background: url(../img/foot_ico3.1.png) no-repeat center 6px;
	background-size: 15px  15px;
	color: #e01c64;
}
footer .nav li:nth-child(4) a.active{
	background: url(../img/foot_ico4.1.png) no-repeat center 4px;
	background-size: 14px  18px;
	color: #e01c64;
}
footer .nav li:nth-child(5) a.active{
	background: url(../img/foot_ico5.1.png) no-repeat center 6px;
	background-size: 14px  14px;
	color: #e01c64;
    }
    
.remaining{width: 80%;height:200px;margin: 0 auto;margin-top:45px;z-index: -100;}
.remaining p{ width: 100%;height:100px;margin:0 auto;border-bottom: 1px solid #999999;font-size: 25px;color: #8A2BE2;text-align: center;line-height: 150px;}
.remaining span{ display:block; width:49%;height:40px;float: left;margin-top: 15px;} 
.remaining span:first-child{border-right: 1px solid #999999;}
.remaining span:first-child a{text-align:right;padding-right: 10px;}
.remaining span:last-child a{text-align: left;padding-left: 10px;}
.remaining span a{display: block;}
.pocket{float: left;}
.remaining span small{margin-left:10px;float: left;text-decoration: none; display:block;
                     border-radius:50%;width: 15px; height: 15px;text-align:center;line-height:15px;background-color: coral;color: white;}
.record{ display: block;  width: 100%;height: 160px;}
.record ul li{border-top:solid 1px #999999 ;height: 50px;line-height: 50px;padding-left: 15px;}
.record ul li span{float: right;color:#8F8F8F;padding-right: 15px;}
.record ul li:last-child{border-bottom:solid 1px #999999;}

.bottom{
    width: 100%;
    height: 40px;
    
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 0;
    bottom: 48px;}
.bottom a:first-child{display: block; width: 49.5%;height: 40px;background-color: #8A2BE2;color: white;float: left;}
.bottom a:last-child{display: block; width: 49.5%;height: 38px;float: right;border: 1px solid #999999;}


/*模态框*/



#modal-overlay {
	z-index: 100;
  display:none; 
  position: fixed;   /* 使用绝对定位或固定定位  */
  left: 0;    
  top: 0;
  width:100%;
  z-index: 100;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: #333; 
  opacity: 0.9;   /* 背景半透明 */
}

.modal-data{
  position: relative;
  width:80%;
  margin: 100px auto;
  background-color:#fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
  border-radius:4px;
}
.modal-data p{text-align: left;}
.modal-data p:last-child{text-align: center;}

/*设置提现账户*/
.reset{margin-top: 45px;height: 180px;}
.reset p{display: block;width: 70%;margin: 0 auto; height: 30px;line-height: 30px;font-size:20px;margin-top: 100px;}

.reset form{ width: 35%;margin: 0 auto;margin-top: 30px;}
.reset form label{ display: block;  font-size: 16px;height: 45px;}
.reset form label input{margin-right: 5px;padding-top: 3px;}


.acco{ width: 80%; margin: 0 auto;}
.phone{ width: 100%; height: 35px; }
.settime{ width: 40%;margin-top: 30px;height: 38px;background-color: white; border-radius:5px ;border: 1px solid #999999;}
.identity{ width: 55%;margin-top: 30px;height: 35px;float: right;}

/*提现账户*/
.check{ width:90%;height:130px;margin:0 auto;margin-top: 45px;border-bottom: 1px solid #999999;}
.check p:first-child{ display:block;padding-top: 45px;padding-left: 20px;color: red;}
.check p:last-child{display:block;padding-top: 15px;padding-left: 20px;font-size: 16px;color:darkviolet;}
.cash{width: 80%; margin: 0 auto;margin-top: 30px;}
.cash p{height: 30px;}

.cash_mult{ display: block;margin-top: 20px;}
.cash_mult span input{ width: 60%;height: 30px;text-align:center;border: none;border-bottom: 1px solid #999999;}
.cash_mult span:first-child{padding-left: 20px;}
.cash_mult span:last-child{float: right;color:#9400D3;margin-top: 6px;}
.tip{display: block;margin-top: 50px;font-size: 15px;color: red; width: 100%;text-align: center;}

.checkOut{ width: 100%; height: 135px;margin-top: 45px;border-bottom: 1px solid #999999;}
.checkOut p:first-child{ display:block;padding-top: 30px;padding-left: 20px;}
.checkOut p:last-child{display:block; width:70%;margin:0 auto;padding-top: 20px;padding-left: 10px;font-size: 12px;color:red;}

.cash_in{display: block; width:70%; margin:0 auto;margin-top: 30px;}
.cash_in p{ height: 30px;}
.cash_in input{ width: 60%;height: 30px;text-align:center;border: none;border-bottom: 1px solid #999999;}
.left{ width: 60%;margin-left: 10%;}
.cash_in span:last-child{ width:20%;float: right;height:16px;color:#9400D3;margin-top: 6px;overflow: hidden;}
.balance{ width: 80%;height:50px;line-height:50px;margin: 0 auto;}
.balance a{ display: block; width:50%;color: #999999;float: left;text-align: center;}

.underly{ width: 80%;margin: 0 auto;height:20px;margin-top:10px;text-align: center;}

